@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.card {
		@apply relative h-full  w-4/5 p-5 ml-[18%] border border-solid border-secondary shadow-md rounded-t-lg z-[1] 
		backdrop-blur-sm gradient-card before:noise-card animation-fade;
	}

	.label-container {
		@apply flex flex-col;
	}

	.label-title {
		@apply not-italic font-medium text-white pb-3.5;
	}

	.analytics-btn {
		@apply bg-transparent hover:bg-secondary text-white font-bold py-2 px-4 rounded ease-linear transition-all duration-150;
	}

	.gradient-card {
		background: linear-gradient(
			180deg,
			rgba(52, 58, 66, 0.1) 0%,
			rgba(0, 0, 0, 0.1) 100%
		);
	}

	.noise-card {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("../assets/images/noise.png");
		opacity: 0.15;
		z-index: -1;
	}

	.active {
		@apply text-white;
	}

	.active::before {
		content: "";
		@apply block bg-white w-1 h-8 absolute left-0;
	}

	@keyframes shake {
		10%,
		90% {
			transform: translate3d(-1px, 0, 0);
		}

		20%,
		80% {
			transform: translate3d(2px, 0, 0);
		}

		30%,
		50%,
		70% {
			transform: translate3d(-4px, 0, 0);
		}

		40%,
		60% {
			transform: translate3d(4px, 0, 0);
		}
	}

	@keyframes brightness {
		0% {
			filter: brightness(1);
			filter: contrast(1);
		}
		50% {
			filter: brightness(0.1);
			filter: contrast(0.1);
		}
		100% {
			filter: brightness(1);
			filter: contrast(1);
		}
	}

	@keyframes fadeInUp {
		from {
			opacity: 0;
			transform: translate3d(0, 40px, 0);
		}
		to {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}

	.animation-fade {
		animation: fadeInUp 1s both;
	}

	.animation-shake {
		animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		perspective: 1000px;
	}

	.animation-brightness {
		animation: brightness 0.8s both;
	}

	.responsive-2xl {
		font-size: clamp(14px, 5vw, 24px);
	}

	.responsive-base {
		font-size: clamp(12px, 2vw, 16px);
	}
}

body {
	height: 100%;
	width: 100%;
	background: linear-gradient(331.06deg, #000000 0%, #343a42 100%);
	padding-top: 5%;
	font-family: "Inter", sans-serif;
	animation: colors 40s ease infinite;
	background-size: 200% 200%;
}

@keyframes colors {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.category-red {
	background: rgba(255, 0, 0, 0.15);
	color: #ffffff;
}

.category-green {
	background: rgba(2, 177, 90, 0.15);
	color: #02b15a;
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 1000ms;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 1000ms;
}

@media (max-width: 1024px) {
	.off {
		display: none;
	}

	.card {
		width: 95%;
		margin: 0 auto;
	}

	.bottom-aside {
		z-index: 5;
		display: flex;
	}

	.bottom-sidebar {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.bottom-link {
		flex-direction: column;
		margin-right: 5%;
		padding-bottom: 1rem;
		gap: 0.5rem;
	}

	.active::before {
		display: none;
	}

	.w-div {
		max-width: 15%;
	}

	.w-complete {
		width: 100%;
	}
}

@media (max-width: 560px) {
	.card {
		height: 110vh;
	}

	.grid-input {
		display: grid;
		grid-template-areas: "A B B" "D C C" "E E E";
		justify-content: center;
		gap: 20px;
	}

	.w-div {
		max-width: 100%;
		min-width: 50%;
		width: 100%;
	}

	.add-btn {
		width: 50%;
		margin: 2.5rem auto 0;
		display: flex;
		justify-content: center;
	}

	.A {
		grid-area: A;
	}

	.B {
		grid-area: B;
	}

	.C {
		grid-area: C;
	}

	.D {
		grid-area: D;
	}

	.E {
		grid-area: E;
	}

	.grid-resume {
		display: grid;
		grid-template-areas: "date date date" "income expanse total";
		text-align: center;
	}

	.date {
		grid-area: date;
		padding-bottom: 1.5rem;
	}

	.income {
		grid-area: income;
	}

	.expanse {
		grid-area: expanse;
	}

	.total {
		grid-area: total;
	}

	body {
		padding-bottom: 170px;
	}

	.bottom-link {
		margin-right: clamp(2%, 1vw, 10%);
	}
}
